{% extends "base_template2.html" %}
{% block title %}Consultar Recetas{% endblock %}
{% block content %}
<h1>Sancho Panza</h1>
<hr/>
<h2>Consultar Recetas por Tiempo</h2>
<form action="{{ url_for('consultar_recetas_tiempo') }}" method="post">
    <label for="tiempo_receta">Tiempo estimado: </label> <input type="number" id="tiempo_receta" name="tiempo_receta" min="1" required> minutos <br>
    <input type="submit" value="Aceptar">
</form>
{% if band %}
    {% if recetas %}
        <h3>Recetas con tiempo menor a {{ tiempo }} minutos</h3>
        <div class="container">
            <table>
                <thead>
                    <tr>
                        <th>Receta</th>
                        <th>Usuario</th>
                        <th>Me gusta</th>
                    </tr>
                </thead>
                <tbody>
                    {% for receta in recetas %}
                        <tr>
                            <td>{{ receta.nombre }}</td>
                            <td>{{ receta.usuario.nombre }}</td>
                            <td>{{ receta.cantidadmegusta }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}
{% else %}
        <h3>No hay recetas con tiempo de preparación menor a {{ tiempo }}.</h3>
{% endif %}
{% endblock %}
