{% extends "base_template.html" %}
{% block title %}Sancho Panza{% endblock %}
{% block content %}
<div class="titulo">
  <h1>Sancho Panza Restaurant</h1>
  <hr/>
</div>
<div class="container">
<h2>Inicio</h2>
<ul>
  <li> <a href="{{url_for('compartir_receta') }}">Compartir Receta</a></li><br>
  <li> <a href="{{url_for('consultar_ranking') }}">Consultar Ranking</a></li><br>
  <li> <a href="{{url_for('consultar_recetas') }}">Consultar Recetas</a></li><br>
</ul>
</div>
{% endblock %}
