{% extends "base_template_inicio.html" %}
{% block title %}Consultar Recetas{% endblock %}
{% block content %}
		<div class="titulo">
			<h1>Sancho Panza Restaurant</h1>
			<hr/>
		</div>
			<div class="container">
				<h2>Iniciar Sesión</h2>
				<form action="{{ url_for('inicio_sesion') }}" method = "post">
					<label for = "correo">Correo electrónico</label><br>
					<input type ="text" id="correo" name="correo" placeholder = "Correo" required><br>
					<label for ="clave">Contraseña</label><br>
					<input type ="password" id="clave" name="clave" placeholder = "Contraseña" required><br>
					<input type="submit" value = "Iniciar Sesion" />
				</form>
				</div>
{% endblock %}
